<!doctype html>
<title>Denoising with Deep Convolutional Neural Network</title>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Wiki">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>

<div class="col-xs-12" style="height:50px;"></div>

<div class="container-fluid" id=main>
    <div class="row justify-content-md-center mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<form action="" method=post enctype=multipart/form-data>
				<div class="container jumbotron">
					<div class="row">
						<div class="col-sm-10">
							<input type=file name=file>
						</div>
						<div class="col-sm-2">
							<input type=submit value=Upload>
						</div>
					</div>
				</div>
			</form>
        </div>
    </div>

    <div class="col-xs-12" style="height:50px;"></div>

    <div class="col-xs-12">
        ReadMe here!
    </div>

</div>

<div class="col-xs-12" style="height:50px;"></div>

<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>

</body>

</html>

